<html>
   <head>
    <title>Admin Dashboard</title>
   </head>
<body>
     <h1>Administrator Panel</h1>

     <h2>Current Items</h2>
        {% for item in items %}
            <li>
          
                <form action= method="post">
                   {%for i in range (0, my listlen)%}
                      <li>{{mylist[i]}}</li>
                   {%enfor%}
                    <input type="text" name="Update">
                    <button type="submit">Update</button>
                </form>
                   <button type="delete">Delete</button>
                   </li>
                  {% endfor %}
    

    <h2>Add New Item</h2>
    <form action="/" method="post">
        <input type="text" name="Item">
        <button type="add">Add</button>
    </form>
</body>
</html>
